<launch>
    <include file="$(find tinker_machine)/tinker.machine"/>

    <rosparam file="$(find tk_dynamixel_control)/param/joint.yaml" command="load"/>
    <node name="controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
        args="--manager=dxl_manager
            --port pan_tilt_port
            wrist_roll_controller
            wrist_deviation_controller
            claw_torque_controller 
            "
        output="screen"/>
</launch>
